/* 문서함의 문서 */
tr.document:hover {
	cursor: pointer;
	background-color: gray;
}

/* 전자결재 모든 버튼 */
button.doc_btn {
	background-color: white;
	border: none;
	padding: 2px;
	border: solid 0.5px black;
	border-radius: 2px;
}
button.doc_btn:hover {
	background-color: gray;
}

/* 화면 가운데 뜨게 되는 네모 모양 모달의 컨테이너 */
.box_modal_container {
	text-align: left;
	border-radius: 3%;
	display: none;
	position: fixed;
	width: 60vh;
	height: 50vh;
	z-index: 11;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	background-color: #fff;
	overflow: hidden;
}

/* documentView 에서 결재 처리하는 모달의 table 태그 */
table.approve_modal_info {
	width: 100%;
}

/* documentView 에서 결재 처리하는 모달의 table 태그의 th 태그 */
table.approve_modal_info th {
	width: 20%;
}

/* documentView 에서 결재 처리하는 모달의 table 태그의 tr 태그 */
table.approve_modal_info tr {
	line-height: 80px;
}

/* documentView 에서 결재 처리하는 모달의 table 태그의 textarea 태그 */
table.approve_modal_info textarea {
	min-width: 150px;
	width: 70%;
}

/*  */
button.reject_btn,
button.approve_btn {
	padding: 2px;
	font-size: 20px;
	background-color: white;
	border: solid 0.5px gray;
	border-radius: 3px;
}

div.draftForm {
	width: 70%;
}

/* 결재요청 form 의 th 태그 */
div.draftForm th {
	background-color: #ddd;
	text-align: center;
	border: solid 1px black;
	width: 150px;
	padding: 5px;
}

div.draftForm td {
	border: solid 1px black;
	padding: 5px;
}

div.drafter_info td {
	width: 200px;
}

div#approval_line {
	text-align: center;
}

div#approval_line td {
	min-width: 120px;
}

span.alert {
	color: red;
	font-weight: bold;
}
