@charset "UTF-8";

@charset "UTF-8";



#right-bar{
	width: 100%;
    height: auto;
}

#right_title_box{
    box-sizing: border-box;
    padding: var(--size24) var(--size24) var(--size18) var(--size24);
   
}

#right_title{
	font-size: var(--size22);
}

#toolbar{
	width: 100%;
	height: auto;
	padding-top: 10px;
	padding-left: 24px;
}


.toolbtn{
	border: 1px rgb(232,232,232) solid ;
	background-color: #FFFF;
	padding: 5px;
	margin-left: 0.5%;
	width: 100px;
}

.navtab_spelling{
	margin-top: 20px;
	border-bottom: solid 1px #b4b4b4;
}

.list{
	border: none;
	background-color: #FFFF;
	margin-left: 2%;
	color: #b4b4b4;
	margin-bottom: 10px;
}

.profileimg{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid gray;
	margin-right: 25px;
	
}

.img_class{
	margin-right: 10px;
}

.thcss{
	border-bottom: 1px solid #b4b4b4;
	width: 12%;
	padding-right: 2%;
	padding-left: 0;
	font-weight: normal;
}

.tdcss{
	border: 0px red solid;
	width: 12%;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0;
	font-size: 13px;
	vertical-align: middle;
}

tbody tr{
	border-bottom: 1px solid #e8e8e8;
	padding-bottom: 10px;
}

.imgcenter,.thcheck{
	text-align: center;
}


.imgcenter,.thcheck{
  	padding-right : 0;
  	padding-left:24px;
}

.thcss:nth-last-child(3) {
	width: 50px;
}


.addBtn{
	margin-top: 5%;
	text-align: center;
	font-size: 30px;
}

.addAdrsBook{
	border: none;
	background-color:transparent;
}

.openModal{
	background-color:transparent;
}

.headerform{
	width: 100px;
	display: inline;
	border: 0px gray solid;
}


/* --------- 모달창 css -------------- */


.maodal_background{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal_content{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 199;	
}

.addAdrsFrm{
	width:700px;
	height: auto;
	background-color: white; 
	margin: 0 auto;
    padding: 5%;
}


.adrsinput{
	display: inline-block;
	width: 100px;
}

.close_btn_div{
	text-align: right;
}

.closeModal{
	width: 30px;
	height: 30px;
	font-size: 20px;
	background-color:transparent;
	border: none;
}

.modal_input_title{
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	width: 100px;
}

.input_li{
	margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    position: relative;	
}

.modal_input{
	width: 300px;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	border: 1px #e8e8e8 solid;
	font-size: 16px;
}

.add,.no_add{
	font-size: 20px;
	width: 150px;
	height: 30px;
	padding: 5px;
	background-color:transparent;
	border: none;
}

.input_li:last-child {
	margin-top: 50px;
}

.spelling:hover{
	color: black;
}

.hoverEvent:hover{
	cursor: pointer;
}